<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Optional: include Spring Boot's default logback configuration -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty name="SPRING_APPLICATION_NAME" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app":"${SPRING_APPLICATION_NAME}"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>